{% include "header.html" %}
{% load static %}
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s" style="color:black">About us</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb" >
                                        <ol class="breadcrumb" >
                                            <li class="breadcrumb-item"><a href="/" style="color:black">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#" style="color:black">About</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <div class="services-area services-area2 section-padding40">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/developer.png' %}" style="width:60px" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Rusan Vaidya</h3>
                                    <li>Data Engineer</li>
                                    <li><a style="color:black; text-decoration:underline;" href="https://rusanvaidya.com.np">Website</a></li>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/developer.png' %}" style="width:60px;" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Pradip Pandit</h3>
                                    <li>Software Engineer</li>
                                    <li><a style="color:black; text-decoration:underline;" href="https://panditpradip.com.np">Website</a></li>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/developer.png' %}" style="width:60px;" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Soel Karki</h3>
                                    <li>Mobile App Developer</li>
                                    <li><a style="color:black; text-decoration:underline;" href="https://soelkarki.com.np">Website</a></li>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/developer.png' %}" style="width:60px;" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Samir Maharjan</h3>
                                    <li>Junior QA Engineer</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--? About Area-1 Start -->

    </main>
    {% include "footer.html" %}
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static './assets/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>
<script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static './assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</body>
</html>