<footer>
    {% load static %}
    <div class="footer-wrappper footer-bg">
       <!-- Footer Start-->
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row justify-content-between">
                   <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                           <div class="single-footer-caption mb-30">
                               <!-- logo -->
                               <div class="footer-logo mb-25">
                                   <a href="index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %}" alt="" style="width:150px;"></a>
                               </div>
                               <div class="footer-tittle">
                                   <div class="footer-pera">
                                       <p>Patient Report Management System.</p>
                                   </div>
                               </div>
                               <!-- social -->
                               <div class="footer-social">
                                   <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                   <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                   <a href="https://www.pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Company</h4>
                               <ul>
                                   <li><a href="about">About</a></li>
                                   <li><a href="blog">Blogs</a></li>
                                   <li><a href="services">Services</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Support</h4>
                               <ul>
                                   <li><a href="contact">Contact</a></li>
                                   <li><a href="contact#feedback">Feedback</a></li>
                                   <li><a href="#">Report Problem</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
     </div>
 </footer> 
 <!-- Scroll Up -->