{% include "header.html" %}
{% load static %}
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s" style="color:black;">Medical Report</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="home" style="color:black;">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#" style="color:black;">Medical R.</a></li> 
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix">
            <div class="container">
                {% if user_as == 'patient' %}
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Your Medical History</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="" class="btn" style="margin: 15px;"  data-toggle="modal" data-target="#myMedical">Add New Report <span style="font-size: 25px;">+</span></a>
                    </div>
                </div>
                
                <div class="row">
                    {% for details in patient_history %}
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="{% static 'assets/img/gallery/medical-report.jpg' %}" alt=""></a>
                                </div>
                                <div class="properties__caption">
                                    <p>{{details.report_of}}</p>
                                    <h3><a href="#">Tonsillitis</a></h3>
                                    <p><table><td>Hospital Name:</td><td>{{details.hospital_name}}</td></table>
                                    </p>
                                    <a href="media/{{details.report_file}}" class="border-btn border-btn2">View Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                {% elif user_as == 'doctor' %}
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Your Patient</h2>
                        </div>
                    </div>
                </div>

                {% elif user_as == 'hospital' %}
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Patient of Your Hospital</h2>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
        <div class="modal fade" id="myMedical" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Add Your Medical Report</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post" action="new_mrecord" enctype="multipart/form-data">  
                    {% csrf_token %}  
                    <div class="modal-body">
                        <div class="form-group" style="margin: 10px;">
                            <label for="message-text" class="col-form-label">Hospital Name :</label>
                            <input type="text" class="form-control" name="hospital" style="font-size: 20px; height: 35px;" placeholder="Hospital Name">
                        </div>
                        <div class="form-group" style="margin: 10px;">
                            <label for="message-text" class="col-form-label">Doctor Name :</label>
                            <input type="text" class="form-control" name="doctor" style="font-size: 20px; height: 35px;" placeholder="Doctor Name">
                        </div>
                        <div class="form-group" style="margin: 10px;">
                            <label for="message-text"  class="col-form-label">Report for: </label>
                            <select class="form-select" name="report_of">
                                <option>MRI Report</option>
                                <option>ENT Report</option>
                                <option>Dermotology</option>
                                <option>Neurology</option>
                                <option>Dental</option>
                                <option>Ophthalmology</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin: 10px;">
                            <label for="message-text" class="col-form-label">Specified Problem: </label>
                            <input type="text" name="problem" style="font-size: 20px; height: 35px;" class="form-control" placeholder="Problem">
                        </div>
                        <b>Add Report</b><br>
                        <label for="reportp"><div style="border: 1px solid #8A2BE2; padding: 30px; border-radius: 8px;"><img src="{% static 'assets/img/icon/plus.png' %}" style="max-width:50px">
                            <input type="file" name="report_file" id="reportp" style="display: None;">
                        </div>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
        <!-- Courses area End -->
    </main>
    {% include "footer.html" %}
  <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js' %}"></script>
    <script src="{% static './assets/js/animated.headline.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static './assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    <!-- Progress -->
    <script src="{% static './assets/js/jquery.barfiller.js' %}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static './assets/js/waypoints.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static './assets/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>
    
</body>
</html>