{% include "header.html" %}
{% load static %}
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s" style="color:black">Services</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb" >
                                        <ol class="breadcrumb" >
                                            <li class="breadcrumb-item"><a href="/" style="color:black">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#" style="color:black">Services</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <div class="services-area services-area2 section-padding40">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/icon1.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Free Storage</h3>
                                <p>We are providing upto 10GB free storage to store your report for scale up you need to buy storage.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/icon2.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Consultant Services</h3>
                                <p>For your convenience we provide direct and indirect consultant service and provide health tips as well.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/icon3.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Hospital Information</h3>
                                <p>People are always Confuse on choosing hospital related with their problems if you join with us we solve your problems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? About Area-1 Start -->
        <section class="about-area1 fix pt-10" id="f1">
            <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Our Featured Services</h2>
                        </div>
                    </div>
                </div>
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="" >Facilities for Old age.</h2>
                            <p>Old age people are being monitored through this platform
                                    to maintain their heath prospect.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with vulnerable children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world  learning together.</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'assets/img/gallery/about.png' %}" alt="">

                        <div class="video-icon" >
                            <img src="{% static 'assets/img/gallery/featured1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? About Area-3 Start -->
        <section class="about-area3 fix" id="f2">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img" style="margin:100px 0px 100px;">
                        <img src="{% static 'assets/img/gallery/featured2.png' %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Online Medical Report</h2>
                            <p>Routine checkups and different kinds of test report now
                                    available on a single click on your devices.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with vulnerable children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world
                            learning together.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together.
                            Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-area1 fix pt-10" id="f3">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">Medical Advises.</h2>
                            <p>Available health practitioners can now contact through
                                    the online platform to identify and solve your health
                                    issues.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with vulnerable children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world  learning together.</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'assets/img/gallery/about.png" alt="">

                        <div class="video-icon" >
                            <img src="{% static 'assets/img/gallery/featured3.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-area3 fix" id="f4">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img" style="margin:100px 0px 100px;">
                        <img src="{% static 'assets/img/gallery/featured4.png' %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Appointment Flexibility</h2>
                            <p>Now, No more waiting on a queue in the hospital
                                    with appointment schedule fixed you can save your time.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with vulnerable children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world
                            learning together.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together.
                            Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services End -->
    </main>
    {% include "footer.html" %}
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static './assets/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>
<script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static './assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</body>
</html>